{:site-title                   "Left Fold"
 :author                       "JohnnyJayJay"
 :description                  "A personal blog about programming topics I enjoy"
 :site-url                     "http://leftfold.tech/"
 :post-root                    "posts"
 :page-root                    "pages"
 :post-root-uri                "posts"
 :page-root-uri                "pages"
 :tag-root-uri                 "tags"
 :author-root-uri              "authors"
 :public-dest                  "public"
 :blog-prefix                  ""
 :rss-name                     "feed.xml"
 :rss-filters                  ["programming"]
 :recent-posts                 3
 :post-date-format             "yyyy-MM-dd"
 :archive-group-format         "yyyy MMMM"
 :sass-src                     []
 :sass-path                    "node_modules/sass/sass.js"
 :theme                        "chota"
 :title-code "𝔽/𝕩"
 :footer-links [{:uri "https://github.com/JohnnyJayJay/JohnnyJayJay.github.io"
                 :icon "img/github.svg"
                 :text "View blog source"}
                {:uri "https://matrix.to/#/@johnny:yatrix.org"
                 :icon "img/matrix.svg"
                 :text "Contact me on Matrix"
                 :title "@johnny:yatrix.org"}
                {:uri "https://chaos.social/@johnny"
                 :icon "img/mastodon.svg"
                 :text "Follow me on Mastodon"
                 :rel "me"
                 :title "@johnny@chaos.social"}
                {:uri "https://ko-fi.com/johnnyjayjay"
                 :icon "img/kofi.svg"
                 :text "Buy me a coffee"}]

 :content-license {:name "CC BY-SA 4.0"
                   :uri "https://creativecommons.org/licenses/by-sa/4.0/"}

 :resources                    ["img" "icons"]
 :disqus?                      false
 :disqus-shortname             "leftfold"
 :ignored-files                [#"\.#.*" #".*\.swp$"]
 :previews?                    true
 :posts-per-page               5
 :blocks-per-preview           1
 :clean-urls                   :trailing-slash
 :collapse-subdirs?            false
 :hide-future-posts?           true
 :klipse                       {:settings {:selector ".klipse-clj"}}
 :description-include-elements #{:p :h1 :h2 :h3 :h4 :h5 :h6}
 :debug?                       false}
