{% extends "/html/base.html" %}
{% block subtitle %}{{page.title}}{% endblock %}
{% block meta %}
{% if page.description %}
<meta name="description" content="{{page.description}}" />
{% comment %} OpenGraph tags {% endcomment %}
<meta property="og:description" content="{{page.description}}" />
{% endif %}
<meta property="og:url" content="{{site-url}}{{uri}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block content %}
<div class="row">
    <section class="col-8 anchor-headings">
        <h1>{{page.title}}</h1>
        {{page.content|safe}}
    </section>
    <section class="col-4 card">
        <h2>Current Status</h2>
        <p>This section is updated automatically from my <a href="https://{{now.bookwyrm.instance}}/user/{{now.bookwyrm.user}}">Bookwyrm</a>, Spotify and <a href="https://codeberg.org/{{now.codeberg.user}}">Codeberg</a>.</p>
        <h3>Reading...</h3>
        {% if now.books|empty? %}
        <p>
            Nothing at the moment! I'm probably going to pick up something from my
            <a href="https://{{now.bookwyrm.instance}}/user/{{now.bookwyrm.user}}/books/to-read">reading list</a>
            soon.
        </p>
        {% else %}
        <ul class="book-list row">
            {% for book in now.books|take:3 %}
            <li class="col">
                <a href="{{book.work}}">
                    <figure class="row book">
                        <img class="col cover" src="{{book.cover.url}}" alt="Cover of the book '{{book.title}}'">
                        <figcaption class="col text-xs text-center">{{book.title}}{% if book.subtitle %}– {{book.subtitle}}{% endif %}</figcaption>
                    </figure>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <h3>Listening to...</h3>
        <h3>Working on...</h3>
        <p>
            <i>This section.</i>
        </p>
    </section>
    <style>
     .cover {
         object-fit: contain;
         max-height: 140px;
         max-width: 100px;
         width: auto;
         height: auto;
     }

     ul.book-list a {
         text-decoration: none;
     }

     ul.book-list {
         list-style: none;
         margin: 0;
         padding: 0;
         gap: 0.2em;
     }

     .book {
         align-items: center;
         flex-direction: column;
     }

     ul.book-list > li {
         margin: 0;
     }
    </style>
</div>

{% endblock %}
