{% extends "/html/base.html" %}
{% block subtitle %}{{page.title}}{% endblock %}
{% block meta %}
{% if page.description %}
<meta name="description" content="{{page.description}}" />
{% comment %} OpenGraph tags {% endcomment %}
<meta property="og:description" content="{{page.description}}" />
{% endif %}
<meta property="og:url" content="{{site-url}}{{uri}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block content %}
<div class="anchor-headings">
    <h1>{{page.title}}</h1>
    {% if page.toc %}
    <div>
        {{page.toc|safe}}
    </div>
    {% endif %}

    {{page.content|safe}}
</div>
{% endblock %}
