{% extends "/html/base.html" %}
{% block subtitle %}{{post.title}}{% endblock %}
{% block meta %}
{% if post.comments %}
{% style "css/comments.css" %}
{% endif %}
<meta name="keywords" content="{% for tag in tags %}{{tag.name}}{% if not forloop.last %},{% endif %}{% endfor %}" />
{% if post.description %}
<meta name="description" content="{{post.description}}" />
{% comment %} OpenGraph tags {% endcomment %}
<meta property="og:description" content="{{post.description}}" />
{% endif %}
<meta property="og:url" content="{{site-url}}{{uri}}" />
<meta property="og:title" content="{{post.title}}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block content %}
{% include "/html/post-content.html" %}
{% endblock %}

{% block after-content %}
{% with prev-title=post.prev.title prev-uri=post.prev.uri next-title=post.next.title next-uri=post.next.uri %}
{% include "/html/prev-next.html" %}
{% endwith %}

{% if post.comments %}
{% with comments=post.comments %}
{% include "/html/comments.html" %}
{% endwith %}
{% endif %}

{% if openring? %}
{% include "/html/webring.html" %}
{% endif %}

{% endblock %}
